{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'row',
    'align-items-center'
]
%}

<div{{ attributes.addClass(classes) }}>
    <div class="col-md-6">
        {{ content|without('field_image') }}
    </div>
    <div class="col-md-6">
        {{ content.field_image }}
    </div>
</div>